<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learning vue js</title>
</head>

<body>
    <div id="app">
        {{name}}
    </div>
    <div id="app2">
        <span v-bind:title="msg">
            hover me
        </span>
    </div>
    <div id="app3">
        <div v-if="toggle" v-on:click="handleclick">toggle</div>
    </div>
    <div id="app4">
        <div v-for="todo in todos">
            {{todo.text}}
        </div>
    </div>
    <div id="app5">
        <h1>{{dataitem}}</h1>
        <input type="text" v-model="dataitem">
    </div>
    <div id="app6">
        <todo-item v-bind:item="item"></todo-item>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./index.js"></script>
</body>

</html>
